.navbar{
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: var(--primary-color);
    z-index: 5;
}

.navbar__link{
    display: flex;
    align-items: center;
}

.link{
    color: var(--second-color);
    font-size: 16px;
    font-weight: 500;
    padding-left: 24px;
    cursor: pointer;
}

.link:hover{
    background: var(--color-hover);
}

