.button{
    width: 80px;
    padding: 10px 18px;
    background: #071019;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #eee;
    justify-content: center;
    align-items: center;
}

.button:hover{
    transform: scale(1.2);
}